.envrc.local
.dev/

# direnv / nix
.direnv/
result*/
.devenv/

# sbt build output
target/
project/target/
project/project/

# gradle
.gradle/
build/
out/

# Xcode / iOS
*.xcworkspace/        # ignore whole workspace directories
**/*.xcworkspace/*
*.xcuserdatad/
*.xcuserstate
DerivedData/

