client/ios/Vendor/

.env
.envrc.local
.dev/

# direnv / nix
.direnv/
result*/
.devenv/

# sbt build output
target/
project/target/
project/project/

*.log

# gradle
.gradle/
build/
out/
.konan/

# Xcode / iOS
*.xcworkspace/        # ignore whole workspace directories
**/*.xcworkspace/*
*.xcuserdatad/
*.xcuserstate
DerivedData/

.aider*

**/*node_modules/
